<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Friendline Chat</title>
         <meta name="viewport" content="width=device-width, initial-scale=1">
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
         <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fontawesome.com/icons/sliders-v?style=solid">
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>
        <link rel="stylesheet" href="/css/screen31.css">
        <style>
          .element {
  display: inline-flex;
  align-items: center;
}
i.fa-camera {
  margin: 10px;
  cursor: pointer;
  font-size: 30px;
}
i:hover {
  opacity: 0.6;
}
.inputforfile {
  display: none;
}
        </style>
        </head>
        <body class="screen9-body">
            <div>
                <svg class="svg-iconbackarrow" viewBox="0 0 20 20">
                
                    <path fill="none" d="M8.388,10.049l4.76-4.873c0.303-0.31,0.297-0.804-0.012-1.105c-0.309-0.304-0.803-0.293-1.105,0.012L6.726,9.516c-0.303,0.31-0.296,0.805,0.012,1.105l5.433,5.307c0.152,0.148,0.35,0.223,0.547,0.223c0.203,0,0.406-0.08,0.559-0.236c0.303-0.309,0.295-0.803-0.012-1.104L8.388,10.049z"></path>
              </svg>
              
              <img class="logo" src="/img/Black PNG.png">
                 <div class="inbox">Antonia France  </div>
                <div class="chat-container">
                    <div class="message-container" id="messageinputcontainer" >
                     
                       <!----<div class="sent">
                        
                      
                        <div class="sent">
                          
                            <p class="sent-bubble  div-content">same here</p>
                            <h6 class="hour">11:03</h6>
                          </div>
                          <div class="received">
                        
                            <p class="received-bubble  div-content">
                              bye
                            </p>
                            <h6 class="hour">10:57</h6>
                          </div>
                          --> 
                          
                      </div>
                </div>
                
            

            
<div class="search-div footer">
    <div class="row">
        <div class="col-lg-12 col-sm-12">
         <form enctype="multipart/form-data" id="uploadForm"   method="post">  
          <p id="selectedfilecountdisplay"></p>
          <a href="#" style="text-decoration: none;"><i class="fa fa-smile emoji-icon" ></i></a> 
          <a href="#" style="text-decoration: none;"> 
            <div class="element"> 
              <i class="cameraiconuploadfileicon fa fa-camera"></i>
              <input name="socketlistenid" type="hidden" value="<%= socketlistenid %>"/>
              <input name="senderid" type="hidden" value="<%= senderid %>"/> 
              <input type="file" class="inputforfile" id="userPhoto" accept="image/*" name="userPhoto" multiple/>
            </div> 
          </a> 
          <a href="#" style="text-decoration: none;"> <i class="fa fa-microphone mic-icon" ></i></a>
          <button class="accordion btn attachment-icon" ><i class="fa fa-paperclip "  ></i></button>
           <div class="panel "><div class="row"><div class="card p-2 col-2"></div><div class="card filter-card col-2"></div><div class="card p-2 filter-card col-2"></div><div class="card p-2 filter-card col-2"></div></div></div>
           <input id="messagetextwrittenid" type="text" placeholder="Write a Message..." class="comment-input">
           <a href="#" onClick = "sendMessageToReceiver();"><i class="fa fa-send send-icons" ></i></a> 
          <input id="submituploadfile" type="submit" value="submit" style="display: none;">
          </form>
        </div>
        
    </div>
    
   
       

</div>
  </div>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
      <script src="/socket.io/socket.io.js"></script>                 
  <script>
 
    
                   
  var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}



$( document ).ready(function() {
  
  const displayreceivermessage =(msgdata)=>{  
        var dataformsg = '<div class="sent"> '+
                                ' <p class="sent-bubble  div-content">'+msgdata+'</p>'+
                      '  </div>';
        $('#messageinputcontainer').append(dataformsg)   
        $('#messagetextwrittenid').val('')   
}
const displaysendermessage =(msgdata)=>{  
      var dataformsg = '<div class="received"> '+
                              ' <p class="received-bubble  div-content">'+msgdata+'</p>'+
                    '  </div>';
      $('#messageinputcontainer').append(dataformsg)   
      $('#messagetextwrittenid').val('')   
}
const displayreceivermessageimage =(msgdata)=>{  
        var dataformsg = '<div class="sent"> '+
                                ' <p class="sent-bubble  div-content"><img src="/images/userchat/'+msgdata+'" height="150px" width="200px" /></p>'+
                      '  </div>';
        $('#messageinputcontainer').append(dataformsg)   
        $('#messagetextwrittenid').val('')   
}
const displaysendermessageimage =(msgdata)=>{  
      var dataformsg = '<div class="received"> '+
                              ' <p class="received-bubble  div-content"><img src="/images/userchat/'+msgdata+'" height="150px" width="200px" /></p>'+
                    '  </div>';
      $('#messageinputcontainer').append(dataformsg)   
      $('#messagetextwrittenid').val('')   
}

  const getallmessagedata=(data)=>{ 
	  $.ajax({
	   url: '/friendline/getallmessagedata',
	   async: false, 
	   //dataType: "jsonp",
	   method:'post',
	   data: { socketlistenid : data},
	   jsonpCallback: 'callback',
	   success: (result, status, xhr)=> { 
		   console.log(result) 
	   },
	   error: (xhr, status, error)=> {
		   alert('ff') 
	   }
	});
   } 

  const senderid = <%- JSON.stringify(senderid) %>
  const receiverid = <%- JSON.stringify(receiveruserid) %> 
  const messageAllData = <%- JSON.stringify(messagedataall) %>  
  const socketlistenid = <%- JSON.stringify(socketlistenid) %>   
  //console.log(messageAllData)
  
  //socketio coding..
  const socket = io();
  const sentmessage=(datamsg)=>{
         // alert(getuser)
            socket.emit('chat message', {msg: datamsg, socketlistenid:receiverid+senderid });
           // return false;
        }
     
        socket.on(senderid+receiverid, function(msg){
          var count
          // alert('recieved msg')
          if(msg.messagetype == 1)
            displayreceivermessage(msg.message) 
          else if(msg.messagetype == 2)
            {alert('image received') 
            console.log(msg)
            for (count in msg.message) { 
               displayreceivermessageimage(msg.message[count])
                                
                 }
           }
         // window.scrollTo(0, document.body.scrollHeight);
        });  

 
    // sentmessage('usermsg')

  for(let i=0;i<messageAllData.length;i++)
  {  
      if(messageAllData[i].senderid==senderid)
        { if(messageAllData[i].messagetype==2)
          {
            console.log(messageAllData[i].messagetype)
            displaysendermessageimage(messageAllData[i].message)
          }
          else{
            displaysendermessage(messageAllData[i].message)
          }
        }
        else 
      { if(messageAllData[i].messagetype==2)
          {
            displayreceivermessageimage(messageAllData[i].message)
          }
          else{
            displayreceivermessage(messageAllData[i].message)
          } 
      }
  } 
  
  const ajaxFunctioncalling=(msgdata)=>{
	 // alert('javed')
	 //console.log(formdata)
	  $.ajax({
	   url: '/friendline/chatwithanyone',
	   async: true, 
	   //dataType: "jsonp",
	   method:'post',
	   data: {message:msgdata, socketlistenid : socketlistenid, senderid : senderid},
	   jsonpCallback: 'callback',
	   success: (result, status, xhr)=> {
		   //alert('ss')
       console.log(result)
       sentmessage({message : msgdata,messagetype : 1})
      // sentmessage('usermsg')
		 //  alert(result.name)
		  // var ret = jQuery.parseJSON(data);
		   //$('#lblResponse').html(ret.msg);
	   },
	   error: (xhr, status, error)=> {
		   alert('failed')
		   //console.log('Error: ' + error.message);
		   //$('#lblResponse').html('Error connecting to the server.');
	   }
	});
   } 

const autoscroll=()=>{
        window.scrollTo(0, document.body.scrollHeight);
	  }

sendMessageToReceiver=()=>{
var msgdata =$.trim( $('#messagetextwrittenid').val())
if(msgdata=='')
  return false;
//messageinputcontainer
var dataformsg = '<div class="received"> '+
                         ' <p class="received-bubble  div-content">'+msgdata+'</p>'+
               '  </div>';
 $('#messageinputcontainer').append(dataformsg)   
 $('#messagetextwrittenid').val('')    
 ajaxFunctioncalling(msgdata)
 window.scrollTo(0, document.body.scrollHeight);
}

$('#uploadForm').submit(function() { 
       var count
       var formData = $(this).serialize();
       console.log(formData)
              $(this).ajaxSubmit({
                 url: '/friendline/uploadfiles',
                 data: formData,
                 cache: false,
                 contentType: false,
                 processData: false,
                 error: function(xhr) {
              status('Error: ' + xhr.status);
                  }, 
                  success: function(response) {  
                          //console.log(response);   
                          if(response.status=='ok'){
                            delete response.status
                            sentmessage({message : response,messagetype : 2})
                            for (count in response) { 
                                 displaysendermessageimage(response[count])
                                
                                };
                           // console.log(response);   
                          } else {
                            alert(response.status)
                          }
                  }
          });
              //Very important line, it disable the page refresh.
          return false;
          });  
 $("#userPhoto").change(function () {
              //  alert('javed')
  $("#submituploadfile").trigger('click');
});

$(".cameraiconuploadfileicon").click(function () {
  $("#userPhoto").trigger('click');
});

 

});
    </script>
 </body>
</html>